@font-face {
	font-family: 'TTLakes';
	src: url('../../../src/fonts/TTLakes/TTLakes-Regular.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}
* {
	font-family: 'TTLakes';
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.repair__desc {
	padding: 20px 30px;
	text-transform: uppercase;
	font-size: 16px;
	color: #7e7e82;
	background: linear-gradient(to right, #f8f8f8, #fff);
}

.repair__lists-hidden {
	max-height: 250px;
	overflow-y: hidden;
}
.repair__lists {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 10px;
	background-color: #f8f8f8;
}
.repair__lists-img {
	display: inline-block;
	margin: 0 auto;
	padding-top: 3%;
}
.repair__lists-item {
	padding: 5px;
	transition: all 0.3s ease;
}
.repair__lists-item:hover {
	transform: scale(1.1);
	box-shadow: 0px 0px 20px rgb(158, 156, 156);
}

.repair__btn-open,
.repair__btn-close {
	cursor: pointer;
	position: relative;
	outline: none;
	border: none;
	background-color: inherit;
	padding: 10px;
	margin-left: 30px;
	margin-top: 40px;
	color: black;
	font-size: 16px;
}
.repair__btn-open::before {
	content: '';
	position: absolute;
	left: -8px;
	top: 15px;
	width: 8px;
	height: 10px;
	background-image: url('../img/icon.svg');
	background-size: contain;
}

.repair__btn-close::before {
	content: '';
	position: absolute;
	left: -8px;
	top: 15px;
	width: 8px;
	height: 10px;
	background-image: url('../img/icon-close.svg');
	background-size: contain;
}

/* .slick-carousel {
	display: none !important;
	gap: 30px;
} */

@media (max-width: 760px) {
	/* .slick-carousel {
		display: block !important;
		margin: 20px auto;
	} */

	.repair__lists {
		height: auto;
	}
	.repair__btn-open {
		display: none;
	}
}
