@font-face {
	font-family: 'TTLakes';
	src: url('../../../src/fonts/TTLakes/TTLakes-Regular.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'TTLakes';
}
.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: start;
}
a {
	text-decoration: none;
	color: inherit;
}
ul li {
	list-style: none;
}
.button {
	padding: 2px;
	width: 50px;
	height: 50px;
	outline: none;
	border: none;
	background-color: inherit;
	border-radius: 50%;
	transition: all 0.3s ease;
	margin-right: 10px;
}
.button .img {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 100%;
}
.button:hover {
	cursor: pointer;
	outline: 2px solid #ff3e79;
	box-shadow: 0 0 15px grey;
	transform: scale(1.1);
}
.header {
	max-width: 320px;
	padding: 10px;
	height: 100vh;
	box-shadow: 40px 0px 20px rgb(98, 97, 97);
}
.header__top-left .img {
	display: block;
	margin-right: 10px;
}

.header__top,
.header__top-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__top-btn {
	border: none;
	background-color: #fff;
}

.header__menu-lits {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	padding-top: 20px;
	gap: 30px;
	color: #1b1c21;
}

.header__menu-item .header__menu-link {
	position: relative;
	transition: all 0.3s ease;
	cursor: pointer;
	margin-left: 10px;
}
.header__menu-item .header__menu-link::before {
	position: absolute;
	content: '';
	display: block;
	top: -5px;
	left: -14px;
	width: 4px;
	height: 32px;
	margin-right: 20px;
	transition: all 0.3s ease;
}
.header__menu-item .header__menu-link:hover::before {
	background-color: #41f6d7;
}
.header__menu-item .header__menu-link:hover {
	color: #7e7e82;
}

.header-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}
.header-footer-icon {
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.header-footer-info .header-footer-info__phone,
.header-footer-info .header-footer-info__mail {
	display: inline-block;
}
.header-footer-info {
	display: flex;
	flex-direction: column;
	font-style: normal;
}
.header-footer-info__phone {
	padding-top: 20px;
	font-size: 24px;
	font-weight: 800;
	color: #1b1c21;
	transition: all 0.3s ease;
}

.header-footer-info__phone:hover {
	margin-left: 10px;
	color: #ff3e79;
}
.header-footer-info__mail {
	cursor: pointer;
	transition: all 0.3s ease;
}
.header-footer-info__mail:hover {
	margin-left: 10px;
	color: #ff3e79;
}
.header-footer-langs {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
	padding-top: 40px;
}

.header-footer-langs__link {
	transition: all 0.3s ease;
	color: #1b1c21;
}
.header-footer-langs__link-active {
	color: #7e7e82;
}
